#include "model_sim.hh"

ModelSim::ModelSim(){

    acados_sim_capsule_ = {{model_name | lower}}_acados_sim_solver_create_capsule();
    status_ = {{model_name | lower}}_acados_sim_create(acados_sim_capsule_);

    if (status_)
    {
        printf("acados_create() returned status %d. Exiting.\n", status_);
        exit(1);
    }

    sim_config_ = {{model_name | lower}}_acados_get_sim_config(acados_sim_capsule_);
    sim_in_ = {{model_name | lower}}_acados_get_sim_in(acados_sim_capsule_);
    sim_out_ = {{model_name | lower}}_acados_get_sim_out(acados_sim_capsule_);
    sim_dims_ = {{model_name | lower}}_acados_get_sim_dims(acados_sim_capsule_);

    };

/** @brief sets the x0 , initial state for solving the ocp */
void ModelSim::set_x0(std::vector<double>& init_state){
    if (init_state.size() != NX)
        throw std::runtime_error("Expected initstate to have "+ std::to_string(NX)+ " elements");
    
    x_curr_ = init_state;
    }


const std::vector<double>& ModelSim::step(const std::vector<double>& uref){
    if (uref.size() != NU)
        throw std::runtime_error("Expected "+ std::to_string(NU)+" elements");
    u_curr_ = uref;
    // set sim input
    sim_in_set(sim_config_,sim_dims_,
           sim_in_, "x", x_curr_.data());
    sim_in_set(sim_config_, sim_dims_,
            sim_in_, "u", u_curr_.data());
    // solve
    status_ = {{model_name | lower}}_acados_sim_solve(acados_sim_capsule_);
    if (status_ != ACADOS_SUCCESS)
    {
        printf("acados_solve() failed with status %d.\n", status_);
    }

    // get outputs
    sim_out_get(sim_config_, sim_dims_,
            sim_out_, "x", x_curr_.data());

    return x_curr_;
}
void ModelSim::set_dt(double dt){
    dt_ = dt;
    sim_in_set(acados_sim_capsule_, sim_dims_,
               sim_in_, "T", &dt_);

}
ModelSim::~ModelSim(){
        // free solver
    // free solver
    status_ = {{model_name | lower}}_acados_sim_free(acados_sim_capsule_);
    if (status_) {
        printf("{{model_name | lower}}_acados_sim_free() returned status %d. \n", status_);
    }

    {{model_name | lower}}_acados_sim_solver_free_capsule(acados_sim_capsule_);

};

